header{
    font-family: cursive;
    display: flex;
    padding: 10px 50px;
    color: black;
    background-color: #7ECFC0;
}
nav{   
background-color: #FFCC8F;
}
section{
    grid-column: 1/4;
background-color: #FFD9C0;
}
aside{
    grid-column: 4/5;
    background-color: #7ECFC0;
}
footer{
    color: black;
    font-family: cursive;
    background-color: #DE8971;
}
main{
    font-family: Arial, Helvetica, sans-serif;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu{
    padding: 0px 20px;
    text-align: center;
    font-family: fantasy ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.menu>li{ 
    font-family: cursive;
    float:left;
}
.menu li a{
    background-color: #FFCC8F;
    color: black;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}
.menu li a:hover{
    background-color: #EF4B4B;
}
.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    min-width: 140px;
}
.menu li:hover > ul{
    display: block;
}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: 140px;
}
